#contenedor-limite {
  margin-top: 1rem;
}

#contenedor-limite,
#contenedor-desayunos,
#contenedor-comidas,
#contenedor-cenas,
#contenedor-deportes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1.5rem;
  max-width: 700px;
}

@media (max-width: 612px) {
  #contenedor-limite,
  #contenedor-desayunos,
  #contenedor-comidas,
  #contenedor-cenas,
  #contenedor-deportes {
    max-width: 400px;
  }
}

/*---------------------------------------------------------------*/

/*#################
    #### BOTONES ####
    ###############*/

#seccion-botones-calcular-y-borrar {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.calcular-button {
  margin-right: 1rem;
}

/*---------------------------------------------------------------*/

/*#################
    #### RESULTADO ####
    ###############*/

#resultado-calorias-restantes > p {
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  color: red;
}
