/******************
*** TIPOGRAFÍAS ***
******************/
@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

/*************
*** TEXTOS ***
*************/
h2 {
  font-family: 'Gaegu', cursive;
  font-weight: bold;
  font-style: normal;

  font-size: 3rem;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

h3,
#text,
button,
.stat,
p,
li,
a,
tr,
td,
label,
input {
  font-family: 'Comic Neue', 'Shantell Sans', sans-serif;
}
